body {
    font-family: "Calibri", sans-serif;
}

/*--------------------------------HEADER CONTENT-------------------------------*/

header {
    position: absolute;
    width: 1600px;
    height: 159px;
    background-image: url("../images/bg(header).png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.logo-menu {
    margin-top: 36px;
    margin-left: 160px;
    width: 156px;
    height: 26px;
    color: #ffffff;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    float: left;
}

.header-menu {
    margin-left: 480px;
    max-width: 880px;
    max-height: 120px;
    overflow: hidden;
}

.header-menu > ul {
    list-style: none;
}

.header-menu > ul > li {
    margin-top: 28px;
    margin-left: 55px;
    display: inline-block;
    max-width: 100%;

}

.header-menu > ul > li > a {
    padding-top: 42px;
    font-family: "Gentium Book Basic",sans-serif;
    color: white;
    font-size: 21px;
    font-weight: 700;
    text-decoration: none;

}

.li-menu-top-1:hover::before {
    content: "";
    position: absolute;
    top: 0;
    height: 3px;
    width: 3.3%;
    background-color: white;
}

.li-menu-top-2:hover::before {
    content: "";
    position: absolute;
    top: 0;
    height: 3px;
    width: 3.3%;
    background-color: white;
}

.li-menu-top-3:hover::before {
    content: "";
    position: absolute;
    top: 0;
    height: 3px;
    width: 5.9%;
    background-color: white;
}

.li-menu-top-4:hover::before {
    content: "";
    position: absolute;
    top: 0;
    height: 3px;
    width: 3.2%;
    background-color: white;
}

.li-menu-top-5:hover::before {
    content: "";
    position: absolute;
    top: 0;
    height: 3px;
    width: 4.5%;
    background-color: white;
}

.li-menu-top-6:hover::before {
    content: "";
    position: absolute;
    top: 0;
    height: 3px;
    width: 7.1%;
    background-color: white;
}

.header-menu-socseti{
    max-width: 100px;
    height: 47px;
    overflow: hidden;
    position: relative;
    top: -40px;
    left: 1330px;
}

.header-menu-socseti > a{
    margin-left: 10px;

}





/*--------------------------------MAIN CONTENT-------------------------------*/



/*-----section-promo-----*/

.main-content {
    position: relative;
    width: 1600px;
    margin: 0 auto;
}

.section-promo {
    background-image: url("../images/bg(section-promo).png");
    padding-bottom: 364px;
    background-size: 100%;
    margin-bottom: 0;

}

.section-promo-content {
    position: relative;
    top: 239px;
    left: 322px;
    width: 960px;
    text-align: center;
}

.section-promo-content-label {
    opacity: 0.92;
    text-shadow: 1px 1px 2px rgba(1, 1, 1, 0.64);
    color: #ffffff;
    font-family: "Yeseva One",sans-serif;
    font-size: 90px;
    font-weight: 100;
    max-height: 300px;
    overflow: hidden;
}

.section-promo-content-label > label {

}

.section-promo-content-img {
    margin-top: 34px;
}

.section-promo-content-buttons {
    margin-top: 34px;
}

.section-promo-content-buttons-fon-one {
    position: absolute;
    left: 0;
    top: 0;
    width: 228px;
    height: 57px;
    z-index: 1;
    background: black;
    opacity: 0.5;
}

.section-promo-content-buttons-book-a-table{
    position: relative;
    z-index: 4;
    width: 230px;
    height: 59px;
    background-color: transparent;
    border: 1px black solid;
    cursor: pointer;
    margin-right: 30px;
}
.section-promo-content-buttons-label-one{
    position: absolute;
    top: 16px;
    left: 50px;
    z-index: 99999;
    color: #ffffff;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}
.section-promo-content-buttons-book-a-table:hover{
    background: black;
}

.section-promo-content-buttons-fon-two {
    position: absolute;
    left: 0;
    top: 0;
    width: 228px;
    height: 57px;
    z-index: 1;
    background: #fffdfb;
    opacity: 0.5;
}

.section-promo-content-buttons-see-the-menu{
    position: relative;
    z-index: 4;
    width: 230px;
    height: 59px;
    background-color: transparent;
    border: 1px #ffffff solid;
    cursor: pointer;
}
.section-promo-content-buttons-label-two{
    position: absolute;
    top: 16px;
    left: 50px;
    z-index: 99999;
    color: #080808;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}
.section-promo-content-buttons-see-the-menu:hover{
    background: white;
}

.content-buttons-see-thee-menu {
    z-index: 2;
    width: 228px;
    height: 57px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    opacity: 0.4;
    margin-left: 30px;
}

.section-promo-border-button-two:hover {
    cursor: pointer;
    opacity: 0.4;
    background: white;
}

/*-----section-about-----*/

.section-about {
    background-image: url("../images/bg(section-about).png");
    padding-bottom: 710px;
    background-size: 100%;
    margin-bottom: 0;
}

.section-about-content {
    width: 1200px;
    position: relative;
    top: 107px;
    left: 294px;
}

.section-about-content-left {
    float: left;
}

.section-about-content-label {
    text-align: center;
    margin-left: 25px;
    max-width: 362px;
    height: 37px;
    overflow: hidden;
    color: #cc9900;
    font-family: "Yeseva One";
    font-size: 36px;
    font-weight: 400;
    line-height: 35px;
}

.section-about-content-label > label {
    max-width: 342px;
    max-height: 35px;
}

.section-about-content-img {
    margin-top: 15px;
    text-align: center;
}

.section-about-content-main-text {
    margin-top: 32px;
    text-align: center;
    width: 409px;
    max-height: 121px;
    color: #4c4c4c;
    font-family: "Lato";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.section-about-content-img-before-text {
    margin-top: 52px;
    margin-left: 131px;
    width: 219px;
    height: 221px;
}

.section-about-content-img-right-text {
    margin-top: 60px;
    float: left;
    margin-left: 380px;
    width: 621px;
    height: 625px;
}

/*-----section-ingredient-----*/

.section-ingredient {
    background-image: url("../images/bg(section-ingredient).png");
    padding-bottom: 200px;
    background-size: 100%;
    margin-bottom: 0;
}

.section-ingredient-content {
    position: relative;
    top: 100px;
    left: 815px;
    width: 570px;
    height: 557px;
}

.section-ingredient-opacity {
    position: absolute;
    background: black;
    width: 570px;
    height: 557px;
    opacity: 0.67;
}

.section-ingredient-content-label {
    margin-top: 83px;
    margin-left: 140px;
    max-width: 297px;
    max-height: 42px;
    color: #ffffff;
    font-family: "Yeseva One";
    font-size: 35px;
    font-weight: 400;
}

.section-ingredient-container {
    position: absolute;
}

.section-ingredient-content-img {
    margin-top: 16px;
    margin-left: 162px;
    width: 247px;
    height: 24px;
}

.section-ingredient-content-main-text {
    text-align: center;
    margin-left: 80px;
    margin-top: 30px;
    width: 409px;
    height: 111px;
    color: #ffffff;
    font-family: "Lato";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.section-ingredient-content-images {
    margin-top: 45px;
    margin-left: 90px;
    text-align: center;
}

.section-ingredient-content-images > img {
    width: 100px;
}

.section-ingredient-content-round-image-two {
    margin-left: 30px;
    margin-right: 30px;
}

/*-----section-menu-----*/

.section-menu {
    background-image: url("../images/bg(section-menu).png");
    padding-bottom: 170px;
    background-size: 100%;
    margin-bottom: 0;
}

.section-menu-content {
    /*border: 1px red solid;*/
    position: relative;
    left: 283px;
    top: 80px;
    width: 1032px;

}

.section-menu-content-top-left-label-span {
    max-width: 431px;
    padding-top: 5px;
    height: 33px;
    overflow: hidden;
    text-align: center;
    color: #cc9900;
    font-family: "Yeseva One";
    font-size: 36px;
    font-weight: 400;
    line-height: 32px;
}

.section-menu-after-img {
    margin-top: 30px;
}

.section-menu-after-img-one {
    margin-top: 15px;
}

.section-menu-after-img-two {
    margin-top: 15px;
}



.section-menu-content-img {
    margin-left: 92px;
    margin-top: 22px;
    width: 247px;
    height: 24px;
}

.section-menu-in-content-left-top-span-one {
    right: 0;
    width:220px;
    height: 25px;
    overflow: hidden;
    color: #c89f2d;
    font-family: "Yeseva One";
    font-size: 21px;
}

.section-menu-in-content-left-top-span-two {
    position: relative;
    top: -24px;
    left: 360px;
    height: 30px;
    max-width: 78px;
    overflow: hidden;
    color: #c89f2d;
    font-family: "Yeseva One";
    font-size: 21px;
}
.section-menu-after-block {
    margin-bottom: -25px;
}

.section-menu-content-hr {
    text-align: center;
    width: 430px;
    height: 1px;
    opacity: 0.3;
    border: 1px #c89f2d;
    background: #c89f2d
}


.section-menu-content-text-after-hr {
    max-width: 431px;
    height: 30px;
    overflow: hidden;
    font-family: "Lato";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.section-menu-content-top-right-label-span{
    max-width: 431px;
    padding-top: 5px;
    height: 33px;
    overflow: hidden;
    text-align: center;
    color: #cc9900;
    font-family: "Yeseva One";
    font-size: 36px;
    font-weight: 400;
    line-height: 32px;
}

.section-menu-in-content-right-top-span-one {
    position: relative;
    right: 0;
    width:220px;
    height: 25px;
    overflow: hidden;
    color: #c89f2d;
    font-family: "Yeseva One";
    font-size: 21px;
}

.section-menu-in-content-right-top-span-two {
    position: relative;
    top: -24px;
    left: 360px;
    height: 30px;
    max-width: 78px;
    overflow: hidden;
    color: #c89f2d;
    font-family: "Yeseva One";
    font-size: 21px;
}

.section-menu-content-bottom-right-block {
    margin-top: 40px;
}

.section-menu-content-bottom-right-label-span{
    max-width: 431px;
    padding-top: 5px;
    height: 33px;
    overflow: hidden;
    text-align: center;
    color: #cc9900;
    font-family: "Yeseva One";
    font-size: 36px;
    font-weight: 400;
    line-height: 32px;
}

.section-menu-in-content-right-bottom-span-one{
    width:220px;
    height: 25px;
    overflow: hidden;
    margin-left: ;
    color: #c89f2d;
    font-family: "Yeseva One";
    font-size: 21px;
}

.section-menu-in-content-right-bottom-span-two{
    position: relative;
    top: -24px;
    left: 370px;
    max-width: 78px;
    height: 30px;
    overflow: hidden;
    color: #c89f2d;
    font-family: "Yeseva One";
    font-size: 21px;
}

.section-menu-special-content {
    position: relative;
    left: -7px;
    width: 440px;
}

.section-menu-special-small-label{
    text-align: right;
}

.section-menu-special-small-label-right {
    padding-top: 6px;
    padding-left: 13px;
    padding-right: 13px;
    padding-bottom: 4px;
    background-image: url("../images/other/bg-special(section-menu).png");
    color: #f8fafa;
    font-family: "Lato";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.section-menu-content-text-after-hr-right-bottom{
    max-width: 431px;
    height: 30px;
    overflow: hidden;
    font-family: "Lato";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.section-menu-in-content-right-bottom-special-border{
    position: absolute;
    border: 1px #c89f2d solid;
    width:438px;
    height: 94px;
    opacity: 0.4;
}
.section-menu-special-content-main{
    padding-top: 5px;
    padding-left: 7px;
    width: 431px;
    height: 87px;
}

.section-menu-special-content-main-section-bottom {
    margin-top: 35px;
}



.section-menu-in-content-right-bottom-special-span-one {
    width:220px;
    height: 25px;
    overflow: hidden;
    color: #c89f2d;
    font-family: "Yeseva One";
    font-size: 21px;
    float: left;
}

.section-menu-in-content-right-bottom-special-span-two {
    position: relative;
    right: 0;
    left:144px;
    height: 30px;
    max-width: 78px;
    overflow: hidden;
    color: #c89f2d;
    font-family: "Yeseva One";
    font-size: 21px;
}

.section-menu-content-bottom-left-block{
    margin-top: 50px;
}

.section-menu-content-bottom-left-label-span{
    max-width: 431px;
    padding-top: 5px;
    height: 33px;
    overflow: hidden;
    text-align: center;
    color: #cc9900;
    font-family: "Yeseva One";
    font-size: 36px;
    font-weight: 400;
    line-height: 32px;
}

.section-menu-in-content-left-bottom-span-one {
    width:220px;
    height: 25px;
    overflow: hidden;
    color: #c89f2d;
    font-family: "Yeseva One";
    font-size: 21px;
}

.section-menu-in-content-left-bottom-span-two{
    position: relative;
    top: -24px;
    left: 360px;
    height: 30px;
    max-width: 78px;
    overflow: hidden;
    color: #c89f2d;
    font-family: "Yeseva One";
    font-size: 21px;
}

.section-menu-content-text-after-hr-left-bottom{
    max-width: 431px;
    height: 30px;
    overflow: hidden;
    font-family: "Lato";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.section-menu-special-small-label-left{
    padding-top: 6px;
    padding-left: 13px;
    padding-right: 13px;
    padding-bottom: 4px;
    background-image: url("../images/other/bg-special(section-menu).png");
    color: #f8fafa;
    font-family: "Lato";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.section-menu-in-content-left-bottom-special-border {
    position: absolute;
    border: 1px #c89f2d solid;
    width:438px;
    height: 94px;
    opacity: 0.4;
}

.section-menu-in-content-left-bottom-special-span-one{
    width:220px;
    height: 25px;
    overflow: hidden;
    color: #c89f2d;
    font-family: "Yeseva One";
    font-size: 21px;
}

.section-menu-in-content-left-bottom-special-span-two{
    position: relative;
    top: -24px;
    left: 360px;
    height: 30px;
    max-width: 78px;
    overflow: hidden;
    color: #c89f2d;
    font-family: "Yeseva One";
    font-size: 21px;
}

.section-menu-content-main-content{
    position: relative;
    width: 1000px;
}
.section-menu-content-left-content{
    float: left;
    position: relative;
    width: 431px;
}
.section-menu-content-right-content{
    margin-left: 650px;
    width: 431px;
}




/*----Section-Background------*/




.section-background {
    background-image: url("../images/bg(section-background).png");
    padding-bottom: 190px;
    background-size: 100%;
    margin-bottom: 0;
}

.section-background-content {
    position: relative;
    top: 100px;
    left: 415px;
    width: 770px;
    height: 557px;
}

.section-background-content-box-back{
    width: 770px;
    height: 557px;
    position: absolute;
    background: black;
    opacity: 0.8;
    z-index: 1;
}

.section-background-content-in-box{
    position: relative;
    z-index: 2;
}

.section-background-content-label{
    position: relative;
    top: 82px;
    left: 205px;
    text-align: center;
    max-width: 360px;
    height: 40px;
    overflow: hidden;
    color: #ffffff;
    font-family: "Yeseva One";
    font-size: 36px;
    font-weight: 400;
}

.section-background-content-img {
    margin-top: 100px;
    text-align: center;
}

.section-background-content-main-text {
    margin-left: 74px;
    text-align: center;
    max-width: 622px;
    height: 267px;
    overflow: hidden;
    color: #dde0df;
    font-family: "Gentium Book Basic";
    font-size: 25px;
    font-weight: 700;
    line-height: 45px;
}

.section-background-content-main-text > label > label {
    color: #ffffff;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
}
.section-background-quotes {
    position: absolute;
    margin-left: 36px;
 }



/*------section-reviews--------*/



.section-reviews {
    background-image: url("../images/bg(section-reviews).png");
    padding-bottom: 200px;
    background-size: 100%;
    margin-bottom: 0;
}

.section-reviews-content {
    position: relative;
    top: 100px;
    left: 215px;
    width: 1222px   ;
}


.section-reviews-content-img-one{
    display: inline-block;
    float: left;
}

.section-reviews-content-img-two{
    margin-left: 30px;
    display: inline-block;
    width: 100px;
    height: 200px;
    float: left;
}

.section-reviews-content-box{
    text-align: center;
    display: inline-block;
    margin-left: 277px;
    width: 417px;
    height: 300px;
}

.section-reviews-content-label{
    margin-left: 37px;
    max-width: 352px;
    height: 35px;
    overflow: hidden;
    color: #cc9900;
    font-family: "Yeseva One";
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
}

.section-reviews-content-img {
    margin-top: 15px;
}

.section-reviews-content-main-text{
    max-width: 417px;
    height: 145px;
    overflow: hidden;
    color: #4c4c4c;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.section-reviews-form {
    text-align: left;
    margin-top: 30px;
    width: 417px;
    height: 200px;
}

.section-reviews-form-field{
    display: inline-block;
    width: 100px;
    height: 50px;
}

.section-reviews-form-field > label {
    max-width: 300px;
    overflow: hidden;
}

.section-reviews-form-input {
    margin-left: 20px;
    margin-top: 5px;
    width: 150px;
    height: 30px;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: italic;
    padding-left: 10px;
    border: 1px solid transparent;
}
.section-reviews-form-input:focus{
    border: 1px #c9a131 solid;
    outline: none;
}
.section-reviews-form-field-out{
    display: inline-block;
    width: 200px;
    height: 36px;
    margin-left: 110px;

}
.section-reviews-form > p > label{
    margin-left: 20px;
    max-width: 41px;
    overflow: hidden;
    height: 10px;
    color: #c9a131;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
}

.section-reviews-form-book-now{
    width: 160px;
    height: 36px;
    border: 1px solid #c89f2d;
    background-color: #c89f2d;
    color: white;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
}
.section-reviews-form > div {
    margin-top: 20px;
    text-align: center;
}

/*-----FOOTER-----*/


footer {
    position: relative;
    bottom: 0;
    background-image: url("../images/bg(footer).png");
    width: 1600px;
    padding-bottom: 300px;
    background-size: 100%;
    margin-bottom: 0;
}
.section-footer{
    height: 100%;

}
.section-footer-left-content{
    margin-top: 60px;
    display: inline-block;
    margin-left: 229px;
    width: 343px;
    height: 209px;
    float: left;

}

.section-footer-left-content-img{
    margin-top: 21px;
    text-align: center;
}

.section-footer-left-content-label{
    margin-left: 121px;
    text-align: center;
    width: 101px;
    height: 25px;
    color: #fefefe;
    font-family: "Yeseva One";
    font-size: 21px;
    font-weight: 400;
    line-height: 24px;
}

.section-footer-left-content-main-text {
    text-align: center;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.section-footer-left-content-main-text > label >label {
    font-size: 18px;
    font-weight: 900;
}

.section-footer-middle-content{
    margin-top: 60px;
    float: left;
    margin-left: 129px;
    text-align: center;
    display: inline-block;
    width: 220px;
    height: 209px;
}

.section-footer-middle-content-img{
    width: 199px;
    margin-top: 17px;
    margin-left: 17px;
}

.section-footer-middle-content-label{
    margin-left: 30px;
    text-align: center;
    width: 160px;
    height: 25px;
    color: #fefefe;
    font-family: "Yeseva One";
    font-size: 21px;
    font-weight: 400;
    line-height: 24px;
}

.section-footer-middle-content-main-text {
    margin-left: 20px;
    width: 195px;
    height: 41px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.section-footer-middle-content-main-text > label > label{
    font-size: 18px;
    font-weight: 900;
}

.section-footer-right-content{
    margin-top: 60px;
    display: inline-block;
    width: 200px;
    height: 200px;
    text-align: center;
    margin-left: 202px;
    float: left;

}

.section-footer-right-content-img{
    width: 199px;
    margin-top: 17px;
    margin-left: 17px;
}

.section-footer-right-content-label{
    margin-left: 30px;
    text-align: center;
    width: 160px;
    height: 25px;
    color: #fefefe;
    font-family: "Yeseva One";
    font-size: 21px;
    font-weight: 400;
    line-height: 24px;
}

.section-footer-right-content-main-text {
    margin-left: 20px;
    width: 200px;
    height: 41px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}

