body {
    margin: 0;
    padding: 0;
    height: 100%;
    user-select: none;
    font-family: "Calibri", sans-serif;
    background: #ececec;
}

.wrapper {
    z-index: 2;
    min-height: calc(100vh - 100px);
    flex-direction: column;
    width: 1600px;
    margin: auto;
    height: 100%;
    background-image: url("../images/pattern/pattern1.png");

}

/*--------------------------------HEADER CONTENT-------------------------------*/

header {
    position: fixed;
    z-index: 20;
    top: 0;
    width: 1600px;
    height: 159px;
    background-image: url("../images/bg(header).png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.logo-menu {
    margin-top: 36px;
    margin-left: 190px;
    width: 156px;
    height: 26px;
    color: #ffffff;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    float: left;
}

.header-menu {
    position: relative;
    top: -17px;
    margin-left: 140px;
    float: left;
    max-width: 880px;
    max-height: 160px;
    overflow: hidden;
}

.header-menu > ul {
    list-style: none;
}

.header-menu > ul > li {
    margin-top: 50px;
    padding-left: 52px;
    float: left;
    max-width: 100%;

}

.header-menu > ul > li > a {
    padding-top: 50px;
    padding-bottom: 42px;
    font-family: "Gentium Book Basic",sans-serif;
    color: white;
    font-size: 21px;
    font-weight: 700;
    text-decoration: none;

}
.header-menu > ul > li > a {

    position: relative;
}

.header-menu > ul > li > a:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: white;
}

.header-menu-socseti{
    position: relative;
    top: 32px;
    left: -16px;
    width: 140px;
    max-height: 38px;
    overflow: hidden;
    list-style: none;
    padding-left: 0;
}

.header-menu-socseti > ul{
    width: 100px;
    margin-left: 0;
}

.sprites-three > li {
    background-image: url("../images/sprite/sprite3.png");
    background-repeat: no-repeat;

    display: inline-block;
    width: 27px;
    height: 21px;
    margin-bottom: 10px;
}

.sprt-one > a{
    padding: 10px;
    filter: none;
}
.sprt-one > a:hover{
    filter: grayscale(100%);
}

.sprt-two{
    background-position: -32px 0;
}

.sprt-two > a{
    padding: 10px;
}

.sprt-three{
    background-position: -63px 0;
}

.sprt-three > a{
    padding: 10px;
}




/*--------------------------------MAIN CONTENT-------------------------------*/



/*-----section-promo-----*/


.section-promo {
    background-image: url("../images/bg(section-promo).png");
    padding-bottom: 110px;
    width: 1600px;
    height: 630px;
    background-size: 100%;
    margin-bottom: 0;

}

.section-promo-content {
    padding-top: 70px;
    margin-left: 322px;
    width: 970px;
    text-align: center;
}

.section-promo-content-label {
    opacity: 0.92;
    text-shadow: 1px 1px 2px rgba(1, 1, 1, 0.64);
    color: #ffffff;
    font-family: "Yeseva One",sans-serif;
    font-size: 100px;
    letter-spacing: 2px;
    font-weight: 100;
    max-height: 360px;
    overflow: hidden;
    line-height: 112px;
}

.section-promo-content-img {
    max-height: 44px;
    overflow: hidden;
    margin-top: 32px;
}

.section-promo-content-buttons {
    max-height: 60px;
    overflow: hidden;
    margin-top: 30px;
}

.section-promo-content-buttons-fon-one {
    position: absolute;
    left: 0;
    top: 0;
    width: 228px;
    height: 57px;
    z-index: 1;
    background: black;
    opacity: 0.5;
}

.section-promo-content-buttons-promo-one{
    position: relative;
    z-index: 4;
    width: 230px;
    height: 59px;
    background-color: transparent;
    border: 1px black solid;
    cursor: pointer;
    margin-right: 30px;
}

.section-promo-content-buttons-label-one{
    position: absolute;
    top: 18px;
    left: 50px;
    z-index: 99999;
    color: #ffffff;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}
.section-promo-content-buttons-promo-one:hover{
    background: black;
}

.section-promo-content-buttons-fon-two {
    position: absolute;
    left: 0;
    top: 0;
    width: 228px;
    height: 57px;
    z-index: 1;
    background: #fffdfb;
    opacity: 0.5;
}

.section-promo-content-buttons-promo-two{
    position: relative;
    z-index: 4;
    width: 230px;
    height: 59px;
    background-color: transparent;
    border: 1px #ffffff solid;
    cursor: pointer;
}

.section-promo-content-buttons-label-two{
    position: absolute;
    top: 18px;
    left: 50px;
    z-index: 99999;
    color: #080808;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

.section-promo-content-buttons-promo-two:hover{
    background: white;
}

.content-buttons-see-thee-menu {
    z-index: 2;
    width: 228px;
    height: 57px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    opacity: 0.4;
    margin-left: 30px;
}

.section-promo-border-button-two:hover {
    cursor: pointer;
    opacity: 0.4;
    background: white;
}

/*-----section-about-----*/

.section-about {
    box-shadow: 0 15px 15px  -15px #000000 inset;
    background-size: 100%;
    height: 697px;
    margin-bottom: 0;
}
.section-about-content {
    padding-top: 100px;
    max-height: 600px;
    overflow: hidden;
    width: 1200px;
    margin-left: 294px;
}

.about-content-one{
    float: left;
}

.about-content-two{
    position: relative;
    top: -40px;
    margin-left: 450px;
}

.about-content-two > img{
    width: 600px;
}



.section-about-content-label {
    text-align: center;
    margin-left: 25px;
    max-width: 362px;
    height: 37px;
    overflow: hidden;
    color: #cc9900;
    font-family: "Yeseva One", sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 35px;
}

.section-about-content-label > label {
    max-width: 342px;
    max-height: 35px;
}

.section-about-content-img {
    max-width: 350px;
    max-height: 25px;
    overflow: hidden;
    margin-top: 15px;
    text-align: center;
}

.section-about-content-main-text {
    margin-top: 26px;
    text-align: center;
    width: 409px;
    max-height: 121px;
    color: #4c4c4c;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.section-about-content-img-before {
    margin-top: 45px;
    margin-left: 135px;
    max-width: 219px;
    max-height: 220px;
    overflow: hidden;
}



/*-----section-ingredient-----*/

.section-ingredient {
    background-image: url("../images/bg(section-ingredient).png");
    padding-bottom: 200px;
    height: 543px;
    background-size: 100%;
    margin-bottom: 0;
}

.section-ingredient-content {
    padding-top: 105px;
    margin-left: 815px;
    width: 570px;
    height: 457px;
}

.section-ingredient-opacity {
    position: absolute;
    background: black;
    width: 570px;
    height: 550px;
    opacity: 0.67;
}

.section-ingredient-content-label {
    margin-top: 67px;
    margin-left: 135px;
    max-width: 300px;
    max-height: 42px;
    overflow: hidden;
    color: #ffffff;
    font-family: "Yeseva One", sans-serif;
    font-size: 36px;
    font-weight: 400;
}

.section-ingredient-container {
    position: absolute;
}

.section-ingredient-content-img {
    margin-top: 16px;
    margin-left: 162px;
    max-width: 247px;
    max-height: 24px;
    overflow: hidden;
}

.section-ingredient-content-main-text {
    text-align: center;
    margin-left: 80px;
    margin-top: 25px;
    max-width: 409px;
    max-height: 121px;
    overflow: hidden;
    color: #ffffff;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.section-ingredient-content-images {
    max-width: 430px;
    max-height: 116px;
    overflow: hidden;
    margin-top: 60px;
    margin-left: 85px;
    text-align: center;
}

.section-ingredient-content-images > span > img {
    border-radius: 50%;
}



.section-ingredient-content-images > img{
    border-radius: 50%;
    margin-right: 30px;
    padding-bottom: 10px;
    float: left;
}

/*-----section-menu-----*/

.section-menu {
    box-shadow: 0 15px 15px  -15px #000000 inset;
    z-index: 3;
    background: #ececec;
    background-image: url("../images/pattern/pattern2.png");
    padding-bottom: 90px;
    height: 889px;
    max-height: 900px;
    overflow: hidden;
}

.section-menu-content {
    display: block;
    position: relative;
    left: 193px;
    width: 1200px;
    height: 100%;
    padding-top: 45px;
}
.section-menu-content::after{
    content: ".";
    height: 0;
    clear: both;
    display: block;
}

.section-menu-content-label-one {
    max-width: 431px;
    height: 33px;
    overflow: hidden;
    text-align: center;
    color: #cc9900;
    font-family: "Yeseva One", sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 32px;
}

.section-menu-after-img {
    margin-top: 22px;
}



.section-menu-content-one{
    margin-left: 70px;
    margin-top: 56px;
    width: 431px;
}


.section-menu-content-img {
    margin-left: 90px;
    margin-top: 18px;
    width: 247px;
    height: 24px;
}


.section-menu-in-content-one-article {
    float: left;
    width:220px;
    height: 25px;
    overflow: hidden;
    color: #c89f2d;
    font-family: "Yeseva One", sans-serif;
    font-size: 21px;
}




.section-menu-content-one-article {
    padding-left: 150px;
    height: 30px;
    max-width: 78px;
    overflow: hidden;
    color: #c89f2d;
    font-family: "Yeseva One", sans-serif;
    font-size: 21px;
}


.section-menu-content-hr {
    text-align: center;
    width: 430px;
    height: 1px;
    opacity: 0.3;
    border: 1px #c89f2d;
    background: #c89f2d;
}


.section-menu-content-text-after-hr {
    max-width: 431px;
    height: 30px;
    overflow: hidden;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}


/*special*/




.section-menu-after-img-three-label > article{
    position: relative;
    left: 360px;
    width: 70px;
    background-image: url("../images/other/bg-special(section-menu).png");
}

.section-menu-after-img-three-label {
    text-align: center;
    color: white;
}

.section-menu-after-img-three {
    margin-bottom: 15px;
}




.section-menu-in-content-one-article-three{
    float: left;
    margin-top: 2px;
    margin-left: 7px;
    width:220px;
    height: 25px;
    overflow: hidden;
    color: #c89f2d;
    font-family: "Yeseva One", sans-serif;
    font-size: 21px;
}

.section-menu-after-img-three-border {
    border: 1px #e2b53a solid;
    position: absolute;
    width: 429px;
    height: 90px;
    opacity: 0.7;
}

.section-menu-content-one-article-three {
    margin-top: 7px;
    margin-left: 365px;
    margin-bottom: 15px;
    height: 25px;
    max-width: 78px;
    overflow: hidden;
    color: #c89f2d;
    font-family: "Yeseva One", sans-serif;
    font-size: 21px;

}

.section-menu-content-hr-three {
    margin-bottom: 5px;
    text-align: center;
    width: 400px;
    height: 1.5px;
    border: #c89f2d;
    opacity: 0.3;
    background: #c89f2d;
    margin-top: 0;
}

.section-menu-content-text-after-hr-three{
    margin-bottom: 5px;
    margin-left: 10px;
    max-width: 431px;
    height: 30px;
    overflow: hidden;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
}



/*end special*/

.menu-one {
    margin-left: 30px;
    float: left;
}

.menu-two{
    margin-left: 620px;
}


/*----Section-Background------*/




.section-background {
    background-image: url("../images/bg(section-background).png");
    background-size: 100%;
    margin-bottom: 0;
    height: 744px;
    max-height: 750px;
    overflow: hidden;
}

.section-background-content {
    position: relative;
    top: 100px;
    left: 415px;
    max-width: 765px;
    height: 545px;
    overflow: hidden;
}

.section-background-content-box-back{
    width: 770px;
    height: 765px;
    position: absolute;
    background: black;
    opacity: 0.8;
    z-index: 1;
}

.section-background-content-in-box{
    position: relative;
    z-index: 2;
}

.section-background-content-label{
    position: relative;
    top: 72px;
    left: 205px;
    text-align: center;
    max-width: 360px;
    height: 40px;
    overflow: hidden;
    color: #ffffff;
    font-family: "Yeseva One", sans-serif;
    font-size: 36px;
    font-weight: 400;
}

.section-background-content-img {
    margin-top: 90px;
    text-align: center;
}

.section-background-content-main-text {
    margin-left: 74px;
    text-align: center;
    max-width: 622px;
    height: 267px;
    overflow: hidden;
    color: #dde0df;
    font-family: "Gentium Book Basic", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: 1px;

}

.section-background-content-main-text > label > label {
    padding-top: 10px;
    color: #ffffff;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.section-background-quotes {
    position: absolute;
    margin-left: 36px;
 }



/*------section-reviews--------*/



.section-reviews {
    box-shadow: 0 15px 15px  -15px #000000 inset;
    padding-bottom: 160px;
    margin-bottom: 0;
    height: 538px;
    max-height: 600px;
    overflow: hidden;
}

.section-reviews-content-main-img{
    float: left;
}

.section-reviews-content-img{
    float: left;
    margin-left: 30px;
}

.section-reviews-content-img > img{
    width: 265px;
}

.section-reviews-content {
    position: relative;
    top: 100px;
    left: 197px;
    width: 1222px;
    padding-bottom: 120px;
}

.section-reviews-content-box{
    text-align: center;
    margin-left: 690px;
    width: 417px;
}

.section-reviews-content-label{
    margin-left: 37px;
    max-width: 352px;
    height: 40px;
    overflow: hidden;
    color: #cc9900;
    font-family: "Yeseva One", sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
}

.section-reviews-content-imgages {
    margin-top: 15px;
    max-height: 37px;
    overflow: hidden;
}

.section-reviews-content-main-text{
    max-width: 417px;
    height: 165px;
    overflow: hidden;
    color: #4c4c4c;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.section-reviews-form {
    border: 1px solid transparent;
    text-align: left;
    margin-top: 20px;
    width: 417px;
    max-height: 260px;
    overflow: hidden;
}

.section-reviews-form-colon-one{
    float: left;
}

.section-reviews-form-colon-one > p > label {
    font-size: 16px;
    font-weight: 600;
    color: #c89f2d;
}

.section-reviews-form-colon-two{
    margin-left: 220px;
}

.section-reviews-form-colon-two > p > label{
    font-size: 16px;
    font-weight: 600;
    color: #c89f2d;
}

.section-reviews-form-colon-two > p> label {
    max-width: 300px;
    overflow: hidden;
}

.section-reviews-form-input {
    font-family: "Open Sans", sans-serif;
    margin-top: 5px;
    width: 180px;
    height: 40px;
    font-size: 16px;
    font-style: italic;
    padding-left: 10px;
    border: 1px solid transparent;
    margin-bottom: 10px;

}

p {
    margin: 0;
}

.section-reviews-form-input:focus{
    border: 1px #c9a131 solid;
    outline: none;
}

.section-reviews-form > p > label{
    margin-left: 20px;
    max-width: 41px;
    overflow: hidden;
    height: 10px;
    color: #c9a131;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 700;
}

.section-reviews-form-book-now{
    width: 190px;
    height: 36px;
    border: 1px solid #c89f2d;
    background-color: #c89f2d;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.section-reviews-form-book-now:hover {
    background: #e2b53a;
}

.section-reviews-form-book-now:active {
    background: #846321;
}

.section-reviews-form > div {
    margin-top: 20px;
    text-align: center;
}





/*-----------------------------------------FOOTER-------------------*/





footer {
    /*
    flex: 0 0 auto;
    */
    padding-bottom: 30px;
    background-image: url("../images/bg(footer).png");
    width: 1600px;
    margin-bottom: 0;
    height: 270px;
    max-height: 270px;
    overflow: hidden;
}
.section-footer{
    text-align: center;
}

.section-footer-one {
    margin-left: 239px;
    float: left;
}
.section-footer-two {
    margin-left: 92px;
    float: left;
}
.section-footer-three {
    margin-left: 112px;
    float: left;
}

.section-footer-one-content-label > label > h1{
    padding-top: 20px;
    max-width: 350px;
    max-height: 25px;
    overflow: hidden;
    height: 25px;
    color: #fefefe;
    font-family: "Yeseva One", sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.section-footer-one-content-main-text {
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    height: 120px;
    max-width: 400px;
    max-height: 150px;
    overflow: hidden;
}

.section-footer-one-content-main-text > label >label {
    font-size: 18px;
    font-weight: 900;
}

.section-footer-content-img{
    max-width: 300px;
    max-height: 25px;
    overflow: hidden;

}

.section-footer-two-content-label > label > h1 {
    padding-top: 20px;
    max-width: 300px;
    max-height: 25px;
    overflow: hidden;
    color: #fefefe;
    font-family: "Yeseva One", sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.section-footer-two-content-main-text {
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 40px;
    max-width: 300px;
    max-height: 50px;
    overflow: hidden;
}

.section-footer-two-content-pay{
    position: relative;
    top: -10px;
    max-width: 170px;
    max-height: 40px;
    overflow: hidden;
    margin-left: 37px;
}

.section-footer-two-content-pay > ul{
    list-style: none;

}

.sprites-one{
    text-align: center;
}

.sprites-one > li{
    background-image: url("../images/sprite/sprite1.png");
    background-repeat: no-repeat;
    display: inline-block;
    width: 27px;
    height: 21px;
    margin-bottom: 10px;
}

.sprite-one > a{
    padding: 10px;
}

.sprite-two{
    background-position: -32px 0;
}

.sprite-two > a{
    padding: 10px;
}

.sprite-three{
    background-position: -63px 0;
}

.sprite-three > a{
    padding: 10px;
}

.sprite-four {
    background-position: -95px 0;
}

.sprite-four > a{
    padding: 10px;
}

.section-footer-two-content-socseti{
    list-style: none;
    position: relative;
    top: 10px;
    left: -15px;
}

.sprites-two > li {
    background-image: url("../images/sprite/sprite2.png");
    background-repeat: no-repeat;
    display: inline-block;
    width: 20px;
    height: 17px;
}

.spr-one > a{
    padding: 10px;
 }

.spr-two{
    background-position: -21px 0;
}

.spr-two > a{
    padding: 10px;
}

.spr-three{
    background-position: -43px 0;
}

.spr-three > a{
    padding: 10px;
}

.spr-four{
    background-position: -70px 0;
}

.spr-four > a{
    padding: 10px 10px;
}


.section-footer-two-content-main-text > label > label{
    font-size: 15px;
    font-weight: 900;

}

.section-footer-three-content-label > label > h1{
    padding-top: 20px;
    max-width: 300px;
    max-height: 25px;
    overflow: hidden;
    color: #fefefe;
    font-family: "Yeseva One", sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.section-footer-three-content-main-text {
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 35px;
    max-width: 300px;
    max-height: 70px;
    overflow: hidden;
}

.section-footer-two-content-socseti > a >img {
    margin-top: 10px;
    margin-left: 20px;
    max-width: 200px;
    max-height: 30px;
    overflow: hidden;
}